<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/boostrap.min.css">

</head>
<body>
    <div class="container">
        <div class="row">
           <!-- <img src="https://1.bp.blogspot.com/-YIfQT6q8ZM4/Vzyq5z1B8HI/AAAAAAAAAAc/UmWSSMLKtKgtH7CACElUp12zXkrPK5UoACLcB/s1600/image00.png" width="400px" height="200px" class="center-block"> -->
            <br><br><br><br><br><br><br><br><br>
                <div class="jumbotron text-center">
                <p>The is Main Page for our app for Authentication and Authorization. SignUp now and Test the feature. </p>
                <a class="btn btn-default btn-lg" href="/signup"><span class="glyphicon glyphicon-plus-sign"></span>  SignUp</a> &nbsp;
                <a class="btn btn-success btn-lg" href="/login"><span class="glyphicon glyphicon-user"></span>  Login</a>
            </div>
        </div>

    </div>
</body>
</html>