<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Logout</title>
    <link rel="stylesheet" href="css/boostrap.min.css">
    <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
    <script src="script.js"></script>
</head>
<body>
<div class="container">
    <br><br><br>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Logout Form</h2> <br>
                    <form method="post" id="form5">
                        <div class="form-group">
                            <p class="form-control">Are Sure:</p>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Logout" > &nbsp;
                            <a href="/" class="btn btn-warning">Cancel</a>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>